:root {
  --color-primary-softBlue: hsl(215, 51%, 70%);
  --color-primary-cyan: hsla(178, 100%, 50%, 0.753);
  --color-neutral-darkBlue-main: hsl(217, 54%, 11%);
  --color-neutral-darkBlue-card: hsl(216, 50%, 16%);
  --color-neutral-darkBlue-line: hsl(215, 32%, 27%);
  --color-white: hsl(0, 0%, 100%);
  --font-size: 18px;
  --weight-1: 300;
  --weight-2: 400;
  --weight-3: 600;
}
* {
  font-family: "Outfit";
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-neutral-darkBlue-main);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/***********************************************/
.card {
  width: 32rem;
  padding:2rem 1.5rem;

  border-radius: 1rem;
 background-color: var(--color-neutral-darkBlue-card);
}

.img-card {
  position: relative;

}
.equi-img {
  max-width: 100%;
  height:100%;
  border-radius:0.5rem;
  display:block;

}

.active-div {
  z-index: -1;
  width: 100%;
  border-radius:0.5rem;
  background-color: hsla(178, 100%, 50%, 0.43);

  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.img-card:hover > .active-div {
  z-index: 1;
height:100%;
}
/***********************************************/

.heading-primary{
    font-size:2rem;
  text-transform: capitalize;
  font-weight: var(--weight-3);

  letter-spacing:0.1rem;
}
.txt{
    font-size:1.6rem;
    color: var(--color-primary-softBlue);
    font-weight:var(--weight-2);
}


.label {
    color: var( --color-primary-softBlue);
    font-size:1.3rem;
    font-weight:var(--weight-3);
  
  }



/*********************************************/

hr {

  margin:2rem 0;

  border:0.1rem solid var(--color-neutral-darkBlue-line);
}

/**********************************************/

.creator-img {
  border: 2px solid white;
  border-radius: 50%;
  width:3.4rem;

}

.creator-name {
font-size:1.4rem;

  font-weight: var(--weight-2);
  text-transform:capitalize;
}



/************************************/
.pointer{
    cursor:pointer;
}
.clr-white{
    color:white;
}
.clr-white:hover{
    color:var( --color-primary-cyan);
}
.clr-cyan{
    color:var( --color-primary-cyan);

}
.ml-2{
    margin-left:0.2rem;
}
.ml-10{
    margin-left:1rem;
}
.mr-2{
    margin-right:0.2rem;
}
.my-2{
    margin-block:2rem;
}
.my-1{
    margin-block:1rem;
}
.row {
    display: flex;
   
    align-items: center;
  }
  .row--bet{
    justify-content: space-between;

  }
 